{% extends "network/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'network/posts.js' %}" type="module"></script>
{% endblock %}
{% block body %}
    {{ following |json_script:"following" }}
    {% if user.is_authenticated %}
        {{ user.username |json_script:"username" }}
    {% endif %}
    <div id="newpost-view" class="mt-3">
        <form id="newpost-form" method="post">
            {% csrf_token %}
            <input name="newpost-body" class="form-control" type="text" placeholder="Write your post here">
            <input type="submit" class="btn btn-light mt-3" value="Post"/>
        </form>
    </div>
    <div id="posts-view">
        <h3 id="posts-title"></h3>
        <ul id="posts-list">
        </ul>
    </div>
{% endblock %}
