{% extends "network/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'network/posts.js' %}" type="module"></script>
{% endblock %}
{% block body %}
    {{ following |json_script:"following" }}

    <div id="posts-view">
        <h3 id="posts-title" class="title"></h3>
        <div id="newpost-view" class="container mb-3 mt-3 post">
            <form id="newpost-form" class="row form-inline" method="post">
                {% csrf_token %}
                <input id="newpost-body" name="newpost-body" class="col form-control" type="text" placeholder="Write a new post...">
                <input id="newpost-submit" type="submit" class="col-2 btn btn-light ml-3" value="Send"/>
            </form>
        </div>
        <div id="posts-list">
        </div>
    </div>
{% endblock %}
