{% extends "network/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'network/profile.js' %}" type="module"></script>
{% endblock %}
{% block body %}
    {{ profile_user.username |json_script:"profile_username" }}
    {{ user.username |json_script:"username" }}
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
                <div id="profile-view" class="col-3">
                    <div class="card">
                        <div id="profile-img" class="card-img-top  mt-3"><label>👤</label></div>
                        <div class="card-body">
                            <h1 class="card-title text-center">@{{ profile_user.username }}</h1>
                            <p class="card-text">{{ profile_user.first_name | capfirst }} {{ profile_user.last_name | capfirst }}</p>
                            <p class="card-text">&#128231;<i> {{ profile_user.email }}</i></p>
                            <p class="col"><label><b>Following:</b></label> <label id="following-count"> {{profile_user.following.all | length }} </label></p>
                            <p class="col"><label><b>Followers:</b></label> <label id="followers-count"> {{profile_user.followers.all | length }} </label></p>
                            {% csrf_token %}
                            {% if user.username != profile_user.username %}
                                {% if profile_user in user.following.all %}
                                    <button id="follow-btn" class="btn btn-primary">Unfollow</button>
                                {% else %}
                                    <button id="follow-btn" class="btn btn-primary">Follow</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="posts-view" class="col-9">
                    <h3 id="posts-title" class="title">Posts</h3>
                    <div id="posts-list">
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center">
                        </ul>
                    </nav>
                </div>
        </div>
    </div>

{% endblock %}